
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* --------------
component containers  
----------------- */

.container-header {
    background-color: #1f2937;
    padding: 2em;
}

.container-hero {
    background-color: #1f2937;
    padding: 2em;
}

.container-info {
    background-color: white;
    padding: 6em;
}

.container-testimonial {
    background-color: gray;
    padding: 6em;
}

.container-cta {
    background-color: white;
    padding: 2em;
}

.container-footer {
    background-color: #1f2937;
    padding: 2em;
}

.component, .component-hero {
    display: flex;
    border: 5px solid red; /* for testing */
  }
  
/* --------------
header component 
----------------- */

.component-header {
    color: #f9faf8;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    padding: 0; 
  }  
  
  a {
    text-decoration: none;
    color: #f9faf8;
    font-size:smaller;
  }

  a:hover {
    color: lightblue;
  }

    /* --------------
    hero component 
    ----------------- */

  .component-hero {
    gap: 1em;
  }

  .item1, .hero-left {
    flex-grow: 1;
    color: white;
    border: 5px solid red;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .item2, .hero-right {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    border: 5px solid red;

    display:flex;
    justify-content: flex-end;
  }

  .hero-left-header {
    font-size: 48px;
    font-weight: 800;
}


/* --------------
info component 
----------------- */
.component-info {
    display: flex;
    flex-direction: column;
    color: #1f2937;
    text-align: center;
    justify-content: center;  
}

.info-header{
    font-size: 36px;
    font-weight: 800;
    padding: 30px;
}

.info-body{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
    justify-content: space-evenly;
}

.information-body-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.information-body-card-image img{
    min-width: 150px;
    height: auto;
    border-radius: 30px;
    border: 5px solid #3882f6;
}

.information-body-card-text{
    font-size: small;
    max-width: 150px;
}


/* --------------
testimonial component 
----------------- */

/* --------------
cta component 
----------------- */

/* --------------
footer component 
----------------- */



/* --------------
buttons  
----------------- */
.button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }


  .button-cta {
    background-color: #3882f6;
    border: 1px solid white;
    color: white;
    } 

  .button-hero {
    background-color: #3882f6;
    border: none;
    color: white;
    } 
  
