body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container, 
.header, 
.header-links, 
.hero, 
.hero-left, 
.hero-right, 
.information, 
.information-body,
.testimonial, 
.cta {
   display: flex;
}

.container {
    min-height: 100vh;
    flex-direction: column;
    background-color: lightgray;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
}

.header-links {}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    padding: 0; */
  }  
  
  a {
    /* font-size: 22px;
    background: white;
    padding: 8px; */
    text-decoration: none;
    color: #f9faf8;
    font-size:smaller;
  }

.hero {
    background-color: #1F2937;
}

.hero-left {
    flex-direction: column;
}

.hero-left-header {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.hero-left-content {
    color: #f9faf8;
}

.hero-left-button {
  background-color: #3882f6;
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
}

.hero-right {}

.hero-right img {
  max-width: 100%;
  height: auto;
  opacity: 0.1;
}

.information {
    background-color: lightblue;
    flex-direction: column;
}

.information-header{}

.information-body{}

.information-body-card-image{}

.information-body-card-text{}

.testimonial {
    flex-direction: column;
}

.testimonial-quote {}

.testimonial-attrib {}

.cta {
    background-color: lightblue;
}

.cta-left {
    flex-direction: column;
}

.cta-left-header {}

.cta-left-content {}

.cta-right{}

.cta-right-button {}

.footer{}




